 @model AspFinal.Models.Blogs.BlogViewModel
@{
    int count = 3;

}
    <!-- start page-title -->
<section class="page-title" style="background-image:url(/uploads/@Model.Settings.ElementAt(0).CoverImage)">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Blog single</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Blog single</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start blog-single-section -->
<section class="blog-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8">
                <div class="blog-content">
                    <div class="post format-standard-image">
                        <div class="entry-media">
                            <img src="~/images/blog/img-2.jpg" alt>
                        </div>
                        <ul class="entry-meta">
                            <li><a href="#"><i class="fi flaticon-user"></i> By: Admin</a></li>
                            <li><a href="#"><i class="fi flaticon-tag-1"></i> Insurance, company</a></li>
                            <li><a href="#"><i class="fi flaticon-calendar"></i>11 March 2020</a></li>
                        </ul>
                        <h2>And you can design with tons of artwork and fonts you won’t find anywhere</h2>
                        <p>Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls Dahsing when Gregor abou thte dren</p>
                        <p>Heell out ehte game in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover</p>
                        <blockquote>
                            The game triple h out on the table Samsa was a travelling salesman and above it there hung a picture that he had recently cut out of an
                            <span class="quoter">- Michel dow</span>
                        </blockquote>
                        <h3>Dash with the consortium is showing off this concept car, which they've dubbed the NCV </h3>
                        <p>Nigurned to look out the window at the dull weather. Pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. "What's happened to me?" he thought. It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls the when gago will go away never</p>
                    </div>

                    <div class="tag-share clearfix">
                        <div class="tag">
                            <span>Tags: </span>
                            <ul>
                                <li><a href="#">Life insurance</a></li>
                                <li><a href="#">Biker</a></li>
                            </ul>
                        </div>
                        <div class="share">
                            <span>Share: </span>
                            <ul>
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div> <!-- end tag-share -->

                    <div class="author-box">
                        <div class="author-avatar">
                            <a href="#" target="_blank"><img src="~/images/blog-details/author.jpg" alt></a>
                        </div>
                        <div class="author-content">
                            <a href="#" class="author-name">Michel Don</a>
                            <p>Doing right hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out the window at the dull weather.</p>
                            <div class="socials">
                                <ul class="social-link">
                                    <li><a href="#"><i class="ti-facebook"></i></a></li>
                                    <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                    <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                    <li><a href="#"><i class="ti-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end author-box -->

                    <div class="more-posts">
                        <div class="previous-post">
                            <a href="#">
                                <span class="post-control-link">Previous Post</span>
                                <span class="post-name">Covered Mechin  the whole of her lower arm towards the armes</span>
                            </a>
                        </div>
                        <div class="next-post">
                            <a href="0.html">
                                <span class="post-control-link">Next Post</span>
                                <span class="post-name"> Tomar name was then turned to lwindow at the dull weather.</span>
                            </a>
                        </div>
                    </div>

                    <div class="comments-area">
                        <div class="comments-section">
                        <h3 class="comments-title"> @(count+Model.Comments.Count()) Comments</h3>
                            <ol class="comments">
                                <li class="comment even thread-even depth-1" id="comment-1">
                                    <div id="div-comment-1">
                                        <div class="comment-theme">
                                            <div class="comment-image"><img src="~/images/blog-details/comments-author/img-1.jpg" alt></div>
                                        </div>
                                        <div class="comment-main-area">
                                            <div class="comment-wrapper">
                                                <div class="comments-meta">
                                                    <h4>Jhon <span class="comments-date">says Jan 05, 2020 at 9:00am</span></h4>
                                                </div>
                                                <div class="comment-area">
                                                    <p>Magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered</p>
                                                    <div class="comments-reply">
                                                        <a class="comment-reply-link" href="#"><span>Reply</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment">
                                            <div>
                                                <div class="comment-theme">
                                                    <div class="comment-image"><img src="~/images/blog-details/comments-author/img-2.jpg" alt></div>
                                                </div>
                                                <div class="comment-main-area">
                                                    <div class="comment-wrapper">
                                                        <div class="comments-meta">
                                                            <h4>Jhon <span class="comments-date">says Jan 05, 2020 at 9:00am</span></h4>
                                                        </div>
                                                        <div class="comment-area">
                                                            <p>Magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered</p>
                                                            <div class="comments-reply">
                                                                <a class="comment-reply-link" href="#"><span>Reply</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul>
                                                <li class="comment">
                                                    <div>
                                                        <div class="comment-theme">
                                                            <div class="comment-image"><img src="~/images/blog-details/comments-author/img-3.jpg" alt></div>
                                                        </div>
                                                        <div class="comment-main-area">
                                                            <div class="comment-wrapper">
                                                                <div class="comments-meta">
                                                                    <h4>Jhon <span class="comments-date">says Jan 05, 2020 at 9:00am</span></h4>
                                                                </div>
                                                                <div class="comment-area">
                                                                    <p>Magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy </p>
                                                                    <div class="comments-reply">
                                                                        <a class="comment-reply-link" href="#"><span>Reply</span></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="comment">
                                    @if (Model.Comments != null)
                                    {
                                        @foreach (var item in Model.Comments)
                                        {
                                            <div>

                                                <div class="comment-main-area">
                                                    <div class="comment-wrapper">
                                                        <div class="comments-meta">
                                                            <h4>@item.Name <span class="comments-date">@item.DateTime</span></h4>
                                                        </div>
                                                        <div class="comment-area">
                                                            <p>@item.Text</p>
                                                            <div class="comments-reply">
                                                                <a class="comment-reply-link" href="#"><span>Reply</span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </li>
                            </ol>
                        </div> <!-- end comments-section -->

                        <div class="comment-respond">
                            <h3 class="comment-reply-title">Add your comment</h3>
                            <form method="post" asp-action="contact"  class="comment">
                                <div class="form-group">
                                    <div class="form-textarea">
                                        <textarea asp-for="Contact.Text" placeholder="Write Your Comments..."></textarea>
                                        <span asp-validation-for="Contact.Text" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-inputs">
                                    <div class="form-group">
                                        <input asp-for="Contact.Website" class="form-control" placeholder="Website">
                                        <span asp-validation-for="Contact.Website" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Contact.Name" class="form-control" placeholder="Name">
                                        <span asp-validation-for="Contact.Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="Contact.Email" class="form-control" placeholder="Email">
                                        <span asp-validation-for="Contact.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-submit">
                                    <input value="Post Comment"   type="submit">
                                </div>
                            </form>
                        </div>
                    </div> <!-- end comments-area -->
                </div>
            </div>
            <div class="col col-md-4">
                <div class="blog-sidebar">
                    <div class="widget about-widget">
                        <h3>About us</h3>
                        <div class="img-holder">
                            <img src="~/images/blog/about-widget.jpg" alt>
                        </div>
                        <p>Samples lay spread out on the Samsa was a travelling salesman and above it there hung and null about  that he</p>
                        <div class="social">
                            <ul class="clearfix">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                                <li><a href="#"><i class="ti-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget search-widget">
                        <h3>Search</h3>
                        <form>
                            <div>
                                <input type="text" class="form-control" placeholder="Search Post..">
                                <button type="submit"><i class="ti-search"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="widget category-widget">
                        <h3>Categories</h3>
                        <ul>
                            @foreach (var item in Model.Categories)
                            {
                                <li><a href="#">@item.Name <span>(@item.Count)</span></a></li>
                            }
                        </ul>
                    </div>
                    <div class="widget recent-post-widget">
                        <h3>Recent post</h3>
                        <div class="posts">
                            @foreach (var item in Model.Posts)
                            {
                                <div class="post">
                                    <div class="img-holder">
                                        <img src="~/images/recent-posts/@item.Image" alt="@item.Image">
                                    </div>
                                    <div class="details">
                                        <h4><a href="#">@item.Title</a></h4>
                                        <span class="date">@item.DateTime</span>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="widget tag-widget">
                        <h3>Tags</h3>
                        <ul>
                            @foreach (var item in Model.Tags)
                            {
                                <li><a href="#">@item.Name</a></li>

                            }
                 
                        </ul>
                    </div>
                    <div class="widget ad-widget">
                        <h3>Advertising Spot</h3>
                        <div class="img-holder">
                            <a href="#"><img src="~/images/blog/ad-img.jpg" alt></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-single-section -->
@section Scripts{ 
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).on("submit", ".comment", function (e) {
        e.preventDefault();

        let Contact_Text = $("#Contact_Text").val();
        let Contact_Website = $("#Contact_Website").val();
        let Contact_Name = $("#Contact_Name").val();
        let Contact_Email = $("#Contact_Email").val();
        $("#Contact_Text").val("");
        $("#Contact_Website").val("");
        $("#Contact_Name").val("");
        $("#Contact_Email").val("");

        let element = $(".comments");
        let time = new Date();
        $.ajax({
            url: '/blog/comment',
            type: 'POST',
            dataType: "json",
            data: {
                text: Contact_Text,
                website: Contact_Website,
                name: Contact_Name,
                email: Contact_Email
            },
            success: function (res) {
                console.log(res);
                     element.append(` <li class="comment">
                                    <div>
                                       
                                        <div class="comment-main-area">
                                            <div class="comment-wrapper">
                                                <div class="comments-meta">
                                                    <h4>${res.name} <span class="comments-date">says ${time}</span></h4>
                                                </div>
                                                <div class="comment-area">
                                                    <p>${res.text}</p>
                                                    <div class="comments-reply">
                                                        <a class="comment-reply-link" href="#"><span>Reply</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>`)
                $.toast({
                    heading: 'Məlumat',
                    text: "Commentiniz baziya elave edildi",
                    icon: 'success',
                    loader: true,
                    bgColor: '#3988ff',
                    loaderBg: '#f7d40d',
                    position: 'bottom-right',
                });


            }
        });

    });

</script>
}
