@model HomeViewModel
@{ 
    int count = 0;
}
<!-- start page-title -->
<section class="page-title" style="background-image:url(/uploads/@Model.Settings.ElementAt(0).CoverImage)">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Grid 4 columns</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Grid 4 columns</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start blog-pg-section -->
<section class="blog-pg-section blog-grid-4-columns section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-content clearfix">
                    @foreach (var item in Model.Blogs)
                    {
                        count++;
                        if (count == 3)
                        {
                            <div class="post format-gallery">
                                <div class="entry-media post-slider">

                                    <img src="~/uploads/@item.Images.ElementAt(0).Image" alt="@item.Images.ElementAt(0).Image">
                                    <img src="~/uploads/@item.Images.ElementAt(1).Image" alt="@item.Images.ElementAt(1).Image">



                                </div>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fi flaticon-tag-1"></i> @item.ConpanyName</a></li>
                                </ul>
                                <h3><a href="#">@item.Title</a></h3>
                                <p>@item.Text</p>
                                <a href="#" class="theme-btn-s3">@item.ActionText</a>
                            </div>
                        }
                        if (count == 3)
                        {
                            <div class="post format-video">
                                <div class="entry-media video-holder">
                                   
                                        <img src="~/uploads/@item.Images.ElementAt(0).Image" alt="@item.Images.ElementAt(0).Image">

                                    
                                    <a href="https://www.youtube.com/embed/7e90gBu4pas?autoplay=1" class="video-btn" data-type="iframe">
                                        <i class="fi flaticon-play"></i>
                                    </a>
                                </div>
                                <ul class="entry-meta">
                                    <li><a href="#"><i class="fi flaticon-tag-1"></i> @item.ConpanyName</a></li>
                                </ul>
                                <h3><a href="#">@item.Title</a></h3>
                                <p>@item.Text</p>
                                <a href="#" class="theme-btn-s3">@item.ActionText</a>
                            </div>
                        }

                        <div class="post format-standard-image">
                            <div class="entry-media">
                               
                                    <img src="~/uploads/@item.Images.ElementAt(0).Image" alt="@item.Images.ElementAt(0).Image">

                                
                            </div>
                            <ul class="entry-meta">
                                <li><a href="#"><i class="fi flaticon-tag-1"></i>@item.ConpanyName</a></li>
                            </ul>
                            <h3><a href="#">@item.Title</a></h3>
                            <p>@item.Text</p>
                            <a href="https://localhost:44344/blog/blogsingle" class="theme-btn-s3">@item.ActionText</a>
                        </div>
                    }
                
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-pg-section -->
