@model AspFinal.Models.AboutUsFolder.AboutUsViewModel
<!-- start page-title -->
<section class="page-title" style="background-image:url(/uploads/@Model.Settings.CoverImage)">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>About us</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>About us</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start about-section-s4 -->
<section class="about-section-s4 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-3">
                <div class="section-title mt">
                    <span>About us</span>
                    <img src="~/uploads/@Model.Settings.Logo2" alt="@Model.Settings.Logo2">
                </div>
                <div class="info">
                    <h3>@Model.Settings.Phone</h3>
                    <h4>@Model.Settings.Email</h4>
                    <a asp-controller="pages" asp-action="about" class="theme-btn">More About Us</a>
                </div>
            </div>
            <div class="col col-md-5">
                <div class="details-text mt">
                    <h4>Since 1950, we are providing the insurance solution for our client’s and  we are very successfull about</h4>
                    <p>It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look outIt showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer</p>
                </div>
            </div>
            <div class="col col-md-4">
                <div class="features-grid clearfix">
                    @foreach (var item in Model.AboutUs.AboutClaims)
                    {
                        <div class="grid">
                            <div class="icon">
                                <i class="@item.ClaimLogo"></i>
                            </div>
                            <h3>@item.ClaimSubtitle</h3>
                            <p>@item.ClaimSubtext</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-section-s4 -->
<!-- stat fun-fact-section -->
<section class="fun-fact-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="fun-fact-area">
                    <div class="fun-fact-grids clearfix">
                        @foreach (var item in Model.AboutUs.AboutPolicies)
                        {
                            <div class="grid">
                                <div class="info">
                                    <h3><span class="odometer" data-count="@item.PolicyCount">00</span>+</h3>
                                    <p>@item.PolicySubTitle</p>
                                    <p>@item.PolicySubText</p>
                                    <a href="#" class="theme-btn-s3">@item.ActionText</a>
                                </div>
                            </div>
                        }
                </div>

            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end fun-fact-section -->
<!-- start agents-section -->
<section class="agents-section p-b-0 section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="agents-area-with-title">
                    <div class="agents-grids clearfix">
                        <div class="grid">
                            <div class="section-title">
                                <span>Agents</span>
                                <h2>Our Agents</h2>
                            </div>
                            <div class="info">
                                <h3>@Model.Settings.Phone</h3>
                                <h4>@Model.Settings.Email</h4>
                                <a asp-controller="pages" asp-action="about" class="theme-btn">More About Us</a>
                            </div>
                        </div>
                        @foreach (var item in Model.Agents)
                        {
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="~/uploads/@item.Image" alt="item.Image">
                                </div>
                                <div class="agent-info">
                                    <h4>@item.Name</h4>
                                    <p>@item.WorkExperience</p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end agents-section -->
<!-- start testimonials-section-s2 -->
<section class="testimonials-section-s2 section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="section-title">
                    <span>Testimonials</span>
                    <h2>What People Says About Us</h2>
                </div>

                <div class="testimonials-s2-nav">
                    <div class="slider-s2-arrows">
                        <div class="slider-prev"><i class="fi flaticon-left-arrow-angle-big-gross-symbol"></i></div>
                        <div class="slider-next"><i class="fi flaticon-arrow-angle-pointing-to-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="testimonials-slider-holder">
                    <div class="testimonials-slider-s2">
                        <!--Testmonial View Componetn-->
                        <vc:testmonial></vc:testmonial>

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end testimonials-section-s2 -->
<!-- start partners-section -->
<section class="partners-section">
    <h2 class="hidden">Partners</h2>
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="partner-grids partners-slider">
                    @foreach (var item in Model.Brands)
                    {
                        <div class="grid">
                            <img src="~/uploads/@item.Logo" alt="@item.Logo">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end partners-section -->
