@model DetailViewModel
<!-- start page-title -->
<section  class="page-title" style="background-image:url(/uploads/@Model.Settings.ElementAt(0).CoverImage)">
    <div class="page-title-container">
        <div class="page-title-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <h2>Contact us</h2>
                        <ol class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li>Contact us</li>
                        </ol>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </div>
</section>
<!-- end page-title -->
<!-- start contact-section -->
<section class="contact-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s4">
                    <span>Contact with us</span>
                    <h2>@Model.ContactUs.ElementAt(0).Title</h2>
                    <p>@Model.ContactUs.ElementAt(0).Text</p>
                </div>
            </div>
            <div class="col col-xs-12">
                <div class="contact-info-grids">
                    @foreach (var item in Model.ContactUs)
                    {
                        <div class="grid">
                            <i class="@item.Logo"></i>
                            <h4>@item.Key</h4>
                            <p>@Html.Raw(item.Value)</p>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="contact-form-area">
            <div class="row">
                <div class="col col-md-4">
                    <div class="contact-text">
                        <h3>Still have query, then fill out the form!</h3>
                        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nuncIt showed a lady fitted out</p>
                    </div>
                </div>
                <div class="col col-md-8">
                    <div class="contact-form">
                       
                        <form method="post" class="contact contact-validation-active" >
                            <div class="form-group">
                                <input asp-for="Contact.Name" class="form-control" placeholder="Name*">
                                <span asp-validation-for="Contact.Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Contact.Email" class="form-control" placeholder="Email*">
                                <span asp-validation-for="Contact.Email" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <input asp-for="Contact.Phone" class="form-control" placeholder="Phone*">
                                <span asp-validation-for="Contact.Phone" class="text-danger"></span>

                            </div>
                            <div>
                                <select asp-for="Contact.Contactsubject" class="form-control">

                                    <option disabled="disabled" selected>Contact subject</option>
                                    <option>Subject 1</option>
                                    <option>Subject 2</option>
                                    <option>Subject 3</option>
                                </select>
                                <span asp-validation-for="Contact.Contactsubject" class="text-danger"></span>

                            </div>
                            <div class="fullwidth">
                                <textarea asp-for="Contact.Description" class="form-control" placeholder="Case Description..."></textarea>
                                <span asp-validation-for="Contact.Description" class="text-danger"></span>

                            </div>
                            <div class="submit-area">
                                <button type="submit" class=" theme-btn">Submit It Now</button>
                                <div id="loader">
                                    <i class="ti-reload"></i>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end contact-section -->
<!--  start contact-map -->
<section class="contact-map-section">
    <h2 class="hidden">Contact map</h2>
    <div class="contact-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.9147703055!2d-74.11976314309273!3d40.69740344223377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1547528325671" allowfullscreen></iframe>
    </div>
</section>
<!-- end contact-map -->
@section Scripts{ 

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



<script>
    $(document).on("submit", ".contact", function (e) {
        e.preventDefault();
        let Contact_Email = $("#Contact_Email").val();
        let Contact_Contactsubject = $("#Contact_Contactsubject").val();
        let Contact_Name = $("#Contact_Name").val();
        let Contact_Phone = $("#Contact_Phone").val();
        let Contact_Description = $("#Contact_Description").val();
        $("#Contact_Email").val("");
        $("#Contact_Contactsubject").val("");
        $("#Contact_Name").val("");
        $("#Contact_Phone").val("");
        $("#Contact_Description").val("");
        $.ajax({
            url: '/pages/contact',
            type: 'POST',
            dataType: "json",
            data: {
                email: Contact_Email,
                contactsubject: Contact_Contactsubject,
                name: Contact_Name,
                phone: Contact_Phone,
                description: Contact_Description
            },
            success: function (res) {
                console.log(res);
                $.toast({
                    heading: 'Məlumat',
                    text: "Commentiniz baziya elave edildi",
                    icon: 'success',
                    loader: true,
                    bgColor: '#3988ff',
                    loaderBg: '#f7d40d',
                    position: 'bottom-right',
                });


            }
        });
      

    });

</script>
}
